html, body, h1, h2, h3, h4, h5, h6, p {
	font-family:  "Courier";
}

body {
	background-color:#cce9ff;
}

.site-header  {
	background-color:#ffe9ec;
}

.site-footer {
	background-color:#ffe9ec;
}

:root {
	--size: 1.5;
}

table, th, td {
	border: 1px solid #cce9ff;
	background-color: #cce9ff;
}

td {
	text-align: center;
	width: 200px;
	height: 200px;
}
